<button class="back-btn" (click)="goBack()">
      <i class="fas fa-arrow-left"></i> Volver
</button>

<h1 class="admin-title">Panel de Administrador</h1>

<div *ngIf="adminStats" class="admin-card">
    <h2>📊 Estadísticas generales</h2>
    <ul>
      <li><strong>Usuarios registrados:</strong> {{ adminStats!.totalUsers }}</li>
      <li><strong>Hábitos diarios:</strong> {{ adminStats!.totalHabits.daily }}</li>
      <li><strong>Hábitos semanales:</strong> {{ adminStats!.totalHabits.weekly }}</li>
      <li><strong>Hábitos mensuales:</strong> {{ adminStats!.totalHabits.monthly }}</li>
      <li><strong>Promedio diarios por usuario:</strong> {{ adminStats!.avgDailyPerUser }}</li>
      <li><strong>Promedio semanales por usuario:</strong> {{ adminStats!.avgWeeklyPerUser }}</li>
      <li><strong>Promedio mensuales por usuario:</strong> {{ adminStats!.avgMonthlyPerUser }}</li>
    </ul>
</div>

<button (click)="toggleShowUsers()" class="btn btn-primary">
  {{ showUsers ? 'Ocultar usuarios' : 'Ver lista de usuarios' }}
</button>

<div *ngIf="showUsers" class="user-table">
  <h2>Usuarios registrados</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Rol</th>
        <th class="icon-col"></th>
        <th class="icon-col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
  <td>{{ user.id }}</td>

  <td>
    <div *ngIf="editedUserId !== user.id">
      {{ user.username }}
    </div>
    <div *ngIf="editedUserId === user.id">
      <input [(ngModel)]="editedUsername" placeholder="Usuario" class="edit-input" />
    </div>
  </td>

  <td>
    <div *ngIf="editedUserId !== user.id">
      {{ user.email }}
    </div>
    <div *ngIf="editedUserId === user.id">
      <input [(ngModel)]="editedEmail" placeholder="Correo" class="edit-input" />
    </div>
  </td>

  <td>{{ user.role }}</td>

  <td>
    <ng-container *ngIf="editedUserId !== user.id && user.role !== 'admin'; else editMode">
      <button (click)="startEditUser(user)" class="icon-btn edit-btn">
        <i class="fas fa-edit"></i>
      </button>
    </ng-container>
    <ng-template #editMode>
      <ng-container *ngIf="editedUserId === user.id && user.role !== 'admin'">
        <button (click)="saveEditUser(user.id)" class="icon-btn save-btn">
          <i class="fas fa-check"></i>
        </button>
        <button (click)="cancelEditUser()" class="icon-btn cancel-btn">
          <i class="fas fa-times"></i>
        </button>
      </ng-container>
    </ng-template>

  </td>

  <td>
    <button *ngIf="user.role !== 'admin'" (click)="deleteUser(user.id)" class="icon-btn delete-btn">
      <i class="fas fa-trash"></i>
    </button>
  </td>
</tr>

    </tbody>
  </table>
</div>
