:host {
    display: block;
    padding: 1rem;
}

h1 {
font-size: 1.5rem;
margin-bottom: 1rem;
}

mat-dialog-content {
font-size: 1rem;
color: #444;
margin-bottom: 1rem;
}

mat-dialog-actions {
display: flex;
justify-content: flex-end;
gap: 1rem;
}

button[mat-button] {
font-weight: bold;
border-radius: 6px;
}

button[color="warn"] {
background-color: #e74c3c;
color: white;
}

button[color="warn"]:hover {
background-color: #c0392b;
}
